<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>fragnostic templates - [%4level] [%d{HH:mm:ss.SSS}] [%thread] %logger{4} : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fragnostic.dao" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>